img {
  width: 150px;
  height: 150px;
}

.watch-container {
  position: relative;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.watch-title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
}

.watch-body {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.watch-image {
  position: absolute;
  z-index: 2;
}

.watch-delete {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 0;
}

.watch-delete:hover {
  background-color: rgb(0, 183, 255);
  transition: all 0.5s;
}
